@import "fonts";
@import "media";
@import "vars";
@import "blocks/header";
@import "blocks/footer";
@import "blocks/about";
@import "blocks/products";
@import "blocks/slider";
@import "blocks/partners";
@import "blocks/work";
@import "blocks/advantage";
@import "blocks/contacts";

// global

html{
    scroll-behavior: smooth;
}

body{
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1117px;
    margin: 0 auto;
}

.page{
    h1{
        font-size: 72px;
        color: #fff;
        width: 100%;
    }
}

.grey{
    background-color: #C5C5C51A;
}

.hide-for-d{
    display: none;
}

@media (max-width: 767px){
    .hide-for-d{
        display: flex;
    }
}