.advantage{
    &_items{
        display: flex;
        justify-content: space-between;
        margin-top: 120px;
    }

    &_item{
        width: 30%;
        text-align: center;

        p{
            font-size: 18px;
            font-weight: 700;
            color: #101010;
        }
    }

    &_contacts{
        margin-top: 120px;

        h1{
            text-align: center;
            color: #000 !important;
        }

        &_inner{
            display: flex;
            align-items: center;
            margin-top: 90px;
        }

        &_text{
            &>div{
                display: flex;
                align-items: baseline;
                padding-top: 30px;
            }

            &>div:first-child{
                padding-top: 0;
            }

            p{
                font-size: 24px;
                font-weight: 700;
                padding-left: 30px;
            }
        }

        &_image{
            img{
                width: 100%;
                height: 100%;
            }
        }
    }
}

@media (min-width: 870px) and (max-width: 1117px){
    .advantage{
        margin: 0 30px;
    }
}

@media (max-width: 767px){
    .advantage{
        &_items{
            display: block;
            margin-top: 50px;
        }

        &_item{
            width: 90%;
            margin:  0 auto;
            margin-top: 30px;
        }

        &_contacts{
            margin-top: 50px;

            &_inner{
                display: block;
                margin-top: 30px;
            }

            &_text{
                margin: 0 20px;

                p{
                    font-size: 16px;
                }
            }

            &_image{
                margin-top: 30px;
            }
        }

        &_footer{
            margin-top: 50px !important;
        }
    }
}