.slider{
    background-color: #000;
    margin-top: 95px;
    &_inner{
        display: flex;
        justify-content: space-between;
        padding: 95px 0;
    }

    &_text{
        width: 50%;
        color: #fff;
        max-width: 445px;

        span{
            display: block;
            font-size: 14px;
            padding-top: 30px;
        }
    }

    &_heading{
        font-size: 36px;
        font-weight: 600;
    }

    &-slider{
        width: 48%;
    }

    &_item{
        
        div{
            margin: 0;
            padding: 0;
            img{
                width: 100%;
            }

            .slick-slide{
                transform: scale(.9);
                transition: all .3s linear;
            }

            .slick-current{
                transform: scale(1);
                z-index: 3323;
                margin: 0 !important;
                transition: all .3s linear;
            }
        }
    }
}

@media (min-width: 870px) and (max-width: 1117px){
    .slider{
        &_inner{
            margin: 0 30px;
        }
    }
}

@media (min-width: 768px) and (max-width: 870px){
    .slider{
        &_inner{
            margin: 0 30px;
            justify-content: unset;
        }
    }
}

@media (max-width: 767px){
    .slider{
        &_inner{
            display: block;
        }

        &_text{
            width: 90%;
            margin: 0 auto;
        }

        &-slider{
            width: 90%;
            margin: 0 auto;
            margin-top: 30px;
        }
    }
}