.work{
    margin-top: 90px;
    &_products{
        display: flex;

        &_filter{
            width: 40%;
            margin-right: 35px;

            &-inner{
                max-width: 390px;
                float: right;
                border: 1px solid #EDEDED;
                border-radius: 5px;
                height: 100%;

                p{
                    font-size: 20px;
                    font-weight: 700;
                    padding-top: 45px;
                    padding-left: 5px;
                }

                &>div{
                    position: relative;
                    padding-right: 50px;
                    padding-top: 30px;
                }
            }
        }

        &_image{
            width: 60%;
            height: fit-content;
            img{
                width: 100%;
                height: 100%;
            }
        }
    }

    &_text{
        margin-top: 90px;

        h1{
            font-size: 24px !important;
            font-weight: 700 !important;
            color: #000 !important;
        }

        h2{
            font-size: 24px !important;
            font-weight: 700 !important;
            text-align: center;
        }

        p{
            font-size: 16px;
            font-weight: 400;
            padding-top: 20px;
        }
    }

    &_info{
        display: flex;
        margin-top: 90px;

        &_image{
            width: max-content;

            img{
                width: 100%;
                height: 100%;
            }
        }

        &_text{
            max-width: 680px;
            box-shadow: 0px 5px 90px rgba(110, 123, 131, 0.1);
            border-radius: 5px;
            margin-left: 37px;

            &-inner{
                padding: 50px 9px 21px 37px;

                p{
                    display: list-item;
                    padding-top: 10px;
                    line-height: 40px;
                }
            }
        }
    }

    &_table{
        margin-top: 90px;
        text-align: center;
        &_heading{
            display: flex;
            justify-content: space-between;

            h2{
                font-size: 18px;
                width: fit-content;
            }

            h2:first-child{
                color: #30D5C8;
            }
        }

        &>table{
            width: 100%;
            text-align: center;

            th, td{
                padding: 16px 27px 17px 23px;
            }

            th{
                font-size: 18px;
                font-weight: 600;
            }

            td{
                font-size: 18px;
                font-weight: 400;
            }
        }

        &>button{
            border: 1px solid #fff;
            background-color: #30D5C8;
            color: #fff;
            font-size: 14px;
            padding: 7px 55px;
            border-radius: 5px;
            cursor: pointer;
            transition: all .3s;
            margin-top: 32px;
            &:hover{
                background-color: #fff;
                color: #30D5C8;
            }
        }
    }

    &_draft{
        width: fit-content;
        margin: 0 auto;

        &_col{
            width: fit-content;
            display: flex;
            align-items: center;
            margin: 0 auto;
        }

        &_item{
            img{
                width: 100%;
                height: 100%;
            }
        }

        &_col:first-child>div:last-child{
            margin-left: 84px;
        }

        &_col:last-child{
            margin-top: 90px;
        }
    }

    &_slider{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 30px;

        &_item{
            display: flex;
            overflow: hidden;
            div{
                width: 95%;
                margin: 0 auto;

                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}

.work_next, .work_prev{
    cursor: pointer;
}

.checkbox{
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
}

.checkbox_label {
    padding-left: 10px;
    font-size: 16px;
    font-weight: 400;
    color: #39354D;
    cursor: pointer;
}

.checkbox_label.active{
    color: #30D5C8;
}

.checkbox_label:before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;

    border: 1px solid #30D5C81A;
    background-color: #30D5C81A;
    border-radius: 3px;

    position: absolute;
    top: 35px;
    right: 20px;
    z-index: 1;

    transition: background .1s linear, border .1s linear;
}

.checkbox_label::after {
    content: "";
    display: block;
    width: 12px;
    height: 12px;

    background-image: url("../img/check.svg");
    background-size: 12px 12px;
    opacity: 0;

    position: absolute;
    top: 38px;
    right: 23px;
    z-index: 2;

    transition: opacity .1s linear;
}

.checkbox:checked + .checkbox_label:before {
    background-color: #30D5C8;
    border-color: #30D5C8;
}

.checkbox:checked + .checkbox_label:after {
    opacity: 1 !important;
    z-index: 5
}


@media (min-width: 870px) and (max-width: 1117px){
    .work{
        margin: 0 30px;
        margin-top: 90px;

        &_info_text{
            max-width: 50%;
        }

        &_info_image{
            img{
                height: auto;
            }
        }

        &_header_content{
            padding-left: 30px;
        }
    }
}

@media (max-width: 767px){
    .work{
        margin-top: 40px;
        &_products{
            flex-direction: column;

            &_filter{
                width: fit-content;
                margin: 0 auto;
            }

            &_image{
                width: 90%;
                margin: 0 auto;
                margin-top: 40px;
            }
        }

        &_draft{
            &_col{
                display: block;
            }
        }

        &_text{
            margin-top: 50px;

            &>.container{
                padding: 30px;
            }
        }

        &_info_image{
            display: none;
        }

        &_info_text-inner{
            padding: 30px;

            &>h2{
                font-size: 20px;
            }
        }

        &_table{
            display: none;
        }

        .checkbox_label{
            font-size: 14px;
        }
    }
}